.contactIntro {

}

.hidden {
    display: none;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    > p:not(.hidden) {
        margin-bottom: var(--space-md);
        display: flex;
        flex-direction: row;
        gap: var(--space-sm);

        > * {
            flex: 1;
        }

        label {
            font-size: var(--fontsize-h5);
            font-weight: 400;
            max-width: 30%;

            @media (max-width: 768px) {
                max-width: 100%;
            }

            &:has(input[type="checkbox"]) {
                max-width: 100%;
            }
        }
    }
}

input, select    {
    padding: var(--space-sm);
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius);
    font-size: var(--fontsize-h5);
    font-weight: 400;
}

input, textarea {
    &::placeholder {
        color: darkgray;
    }   
}

textarea {
    padding: var(--space-sm);
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius);
    font-size: var(--fontsize-h5);
    font-weight: 400;
}

select {
    appearance: none;
    color: darkgray;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><path fill="currentColor" d="M5 5L0 0h10z"/></svg>');
    background-repeat: no-repeat;
    background-position: right var(--space-sm) center;
    background-size: 10px;
    padding-right: calc(var(--space-sm) + 10px);
}   

button[type="submit"] {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    border: none;
    display: inline-block;
    padding: var(--space-sm) var(--space-lg);
    font-size: var(--fontsize-base);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 9999px;
    cursor: pointer;
    max-width: fit-content;
    margin: var(--space-md) auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-2px);
        background-color: var(--color-quaternary);
        color: var(--color-tertiary);
    }
}


