/* Intro */
.intro {
  max-width: 978px;
  width: 100%;

  p {
    font-size: var(--fontsize-h4);
    margin-bottom: 0;
    letter-spacing: 0.05em;
    text-transform: capitalize;
  }
}

.withPattern {
  h2 {
    font-size: var(--fontsize-h3);
  }
}

/* Services */
.services {
  .withPattern {
    position: relative;
  }

  .dotsPattern::after {
    right: -20px;
    bottom: -38px;
  }

  .dotsPattern h3 {
    padding: var(--space-2xl) 0;
    font-weight: 500;
  }

  .accent {
    font-size: inherit;
  }

  .brand {
    color: var(--color-tertiary);
  }
}

/* Expertise */
.expertiseSection h2,
.expertiseSection p {
  text-align: center;
}

.expertiseSection p {
  color: var(--color-tertiary);
}

/* Services Grid */
.servicesGrid {
  margin-top: var(--space-4xl);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-2xl);
  padding-left: 0;

  @container (width > 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    display: flex;
    align-items: flex-start;
    gap: var(--space-md);

    &:nth-child(2) a:hover {
      transform: skew(-4deg, -8deg);
    }

    &:nth-child(4) a:hover {
      transform: skew(-4deg, -8deg);
    }
  }

  p {
    color: var(--color-tertiary);
    text-align: left;
  }
}

/* Support Teaser */
.supportTeaser {
  padding-block: var(--space-2xl);
  text-align: center;

  h2 {
    font-size: var(--fontsize-h2);
    color: var(--color-secondary);
    text-align: center;
    margin-bottom: var(--space-md);
  }

  p {
    font-size: var(--fontsize-base);
    margin-bottom: var(--space-lg);
    margin-inline: auto;

    &:is(.accent) {
      color: var(--color-tertiary);
    }
  }
}

/* Features */
.features {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-xl);
  margin: var(--space-4xl) auto var(--space-xl);
  padding: 0;
  list-style: none;

  @container (width > 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    display: flex;
    align-items: flex-start;
    gap: var(--space-sm);
  
    svg {
      flex-shrink: 0;
    }
  }

  h4 {
    margin: 0;
    font-size: var(--fontsize-h4);
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
  }
}