@import './variables.css';

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* Base body grid layout */
main {
  container-type: inline-size;
  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  max-width: var(--content-width);
  min-height: 100dvh;
  padding: 0 var(--padding-lg);
}

/* Responsive columns */
@media screen and (width >= 768px) {
  main {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (width >= 1024px) {
  main {
    grid-template-columns: repeat(12, 1fr);
  }
}

article {
  margin: 0 auto;
  padding: 0 var(--padding-md);
}

.content {
  > * {
    margin: var(--space-2xl) 0;

    @container (width > 768px) {
      margin: var(--space-4xl) 0;
    }
  }
}

/* Container */
.wrapper {
  grid-column: 1 / -1;
  margin: 0 auto;
  padding: 0 0;
  width: 100%;

  @container (width > 768px) {
    padding: 0 var(--padding-sm);
  }
}
