---
import Layout from '../../layouts/Layout.astro';

const title = 'Welcome';
const description = 'Welcome to ElPuas Digital Crafts';
const lang = 'en';
---

<Layout {title} {description} {lang}>
  <h1>Welcome to ElPuas Digital Crafts</h1>
  <p>This is the English version of our homepage. Full content coming soon.</p>
</Layout> 