---
import Layout from '../../layouts/Layout.astro';

const title = 'Il Nostro Blog';
const description = 'Notizie e aggiornamenti da ElPuas Digital Crafts';
const lang = 'it';
---

<Layout {title} {description} {lang}>
  <h1>Il Nostro Blog</h1>
  <p>Resta aggiornato con le nostre ultime notizie. I contenuti arriveranno presto.</p>
</Layout> 