---
import Layout from '../../layouts/Layout.astro';

const title = 'Contattaci';
const description = 'Mettiti in contatto con ElPuas Digital Crafts';
const lang = 'it';
---

<Layout {title} {description} {lang}>
  <h1>Contattaci</h1>
  <p>Mettiti in contatto con il nostro team. I contenuti arriveranno presto.</p>
</Layout> 