---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';

const title = 'Benvenuto';
const description = 'Homepage di ElPuas Digital Crafts';
const lang = 'it';
---

<Layout {title} {description} {lang}>
  <p>Creando esperienze digitali</p>
  <Hero {lang} />
</Layout> 