---
import styles from '../styles/Layout.module.css';
import { t } from '../i18n/utils';

interface Props {
	lang: string;
}

const { lang } = Astro.props;
---

<footer class={styles.footer}>
	<div class="container">
		<div class="py-8 text-center">
			<p>
				&copy; {new Date().getFullYear()} {t('footer.copyright', lang)}
			</p>
		</div>
	</div>
</footer>
