---
import styles from '../styles/GridLayout.module.css';
---

<div class={styles.grid} style="container-type: inline-size;">
  <article class="col-span-6 md:col-span-4 lg:col-span-4">
    <h2>Card 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </article>
  <article class="col-span-6 md:col-span-4 lg:col-span-4">
    <h2>Card 2</h2>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </article>
  <article class="col-span-6 md:col-span-4 lg:col-span-4">
    <h2>Card 3</h2>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </article>
</div> 