---
import { Image } from 'astro:assets';

// Import images
import avalancheLogo from '../../public/images/avalanche.png';
import pbLogo from '../../public/images/pb.png';
import monkeyLogo from '../../public/images/monkey.png';
import fishcostaricaLogo from '../../public/images/fishcostarica.png';
import voyagerLogo from '../../public/images/Logo-rojo-voyager.png';

const { title = 'Trusted by forward-thinking brands' } = Astro.props;

const logos = [
    {
        src: avalancheLogo,
        alt: 'Avalanche Advertising Logo'
    },
    {
        src: pbLogo,
        alt: 'Premium Brokers Logo'
    },
    {
        src: monkeyLogo,
        alt: 'Monkey Scrubs Logo'
    },
    {
        src: fishcostaricaLogo,
        alt: 'FishCostaRica Logo'
    },
    {
        src: voyagerLogo,
        alt: 'Voyager Logo'
    },
    
];
---

<section class="trusted-by">
    <h3 class="trusted-title">{title}</h3>
    <div class="logo-row" role="list">
        {logos.map(({ src, alt }, index) => (
            <div role="listitem" data-index={index}>
                <Image src={src} alt={alt} width={320} height={160} class="logo-image" />
            </div>
        ))}
    </div>
</section>

<style>
    .trusted-by {
        padding-block: var(--space-xl);
        text-align: center;
    }

    .trusted-title {
        font-size: var(--fontsize-h3);
        color: var(--color-secondary);
        margin-bottom: var(--space-lg);
    }

    .logo-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--space-xl);
    }

    .logo-row {
        .logo-image {
            max-width: 320px;
            object-fit: contain;
            filter: grayscale(100%) brightness(1.5);
            transition: filter 0.3s ease;

            &:hover {
                filter: none;
            }

            @container (width > 768px) {
                max-width: 200px;
            }
        }
    }

</style>
